<h1 class="mt-5">Portfolio</h1>

<div class="container">
  <h3 class="mt-4">Search Stocks</h3>
  <%= form_tag '#', method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%=text_field_tag  :stock, params[:stock], placeholder: "Stock Ticker Symbol", autofocus: true,class: "form-control form-control-lg"%>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x'%>
        <%end %>
      </div>
    </div>
  <% end %>
</div>
<% if @stock %>
<div class="card card-header mt-3">
  <strong>Symbol: </strong><%=@stock.ticker %>

  <strong>Name: </strong><%=@stock.name %>

  <strong>Price: </strong><%=@stock.last_price %>
</div>
<%end %>